numpy==1.26.4
opencv-python-headless==4.8.1.78
streamlit==1.48.1
pandas==2.2.2
ultralytics==8.3.184
tensorflow==2.20.0
easyocr==1.7.2
vaderSentiment==3.3.2
opencv-python==4.8.1.78; sys_platform == "disable"

